.box1 {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-100%);
  margin: 150px;
}


.box2 {
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 24px; 
  height: 220px;
  width: 400px;
}

.box1 button {
  background-color: #188c18; /* Set background color to green */
  color: #FFFFFF; /* Set text color to white */
  border: none; /* Remove border */
  padding: 12px 24px; /* Add padding */
  font-size: 16px; /* Set font size */
  border-radius: 4px; /* Add rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: all 0.2s ease-in-out; /* Add transition effect */
}

.box2 button:hover {
  background-color: #0f5f0f; /* Change background color on hover */
  color: #FFFFFF; /* Change text color on hover */
}